<html>
  <head>
    <meta charset="utf-8">
    <title>AYD</title>
    {% load staticfiles %}
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <link rel="stylesheet" href= '{% static "web_a/css/menu.css" %}'>
    <link rel="stylesheet" href= '{% static "web_a/css/dg_dp.css" %}'>
    <link rel="stylesheet" href= '{% static "web_a/css/file.css" %}'>
    <script src='{% static "js/jquery-3.1.0.min.js" %}'></script>
    <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload.js' %}"></script>
    <link rel="stylesheet" href= '{% static "bootstrap/css/bootstrap.min.css" %}'>
    <!-- <link rel="stylesheet" href= '{% static "bootstrap/css/bootstrap-theme.min.css" %}'> -->
    <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "web_a/js/dg_dp.js" %}'></script>
    <script src='{% static "web_a/js/menu.js" %}'></script>
    <script src='{% static "web_a/js/plt_chart_sts.js" %}'></script>

  </head>
  <body style='background-color:rgba(0,0,0,0.9);'>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if request.user.is_authenticated%}
        <a class="navbar-brand" href="#" id='welc'>{{request.user.first_name}} {{request.user.last_name}} </a>
        {% endif %}
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a id = 'welc_a' href="/auth/logout/" class="dropdown-toggle"  role="button">Exit</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="main-menu" id = 'menu'>
      <ul>
        <a href="{% url 'analyzer:index' %}" class="active"><li><i class="fa fa-home fa-2x"></i>
                        <span class="nav-text"> Main </span> </li></a>

        <a href="{% url 'analyzer:files' %}" ><li><i class="fa fa-file-o fa-2x"></i>
                        <span class="nav-text"> My Files</span></li></a>

        <a href="#"><li><i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text"> Graphs and Statistics</span></li></a>

        <a href="#"><li><i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">Tables</span></li></a>

        <a href="#"><li><i class="fa fa-info fa-2x"></i>
                        <span class="nav-text"> Documentation</span></li></a>

      </ul>
</nav>

        <div style="padding:100px 20px 20px 100px;  height:100%;">

          {% block content %} {% endblock %}
        </div>

  </body>
</html>
