{% extends "base.html" %}

{% block content %}
<h1 style="color:white">My files</h1>
<div class="row">
{% for file in files.files %}

  <div style="clear:both; padding-left:15px;"> <h2 style="color:rgb(19, 100, 180); float:left; ">{{file.folder}}</h2></div>
  <div class="file_path">
  {% for f in file.files %}
  <div class="file_area"  >
    <div class="file_field">
      <h3><span class="label label-info">Name:</span> {{f.name}}</h3>
      <h4><span class="label label-danger">Type:</span> {{f.type}}</h4>
      <h4><span class="label label-primary">Size:</span> {{f.size}}</h4>
      <a href="{% url 'analyzer:chart' f.id %}" type="button" class="btn btn-success" id='but'>Go!</a>
      <p></p>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}
