<html>
<script type="text/javascript">
  var data = {};
  var last_id;
</script>
<head>
  {% load staticfiles %}
  <title>
    Manager
  </title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href= '{% static "index.css" %}'>
  <link rel="stylesheet" href= '{% static "cont_manage.css" %}'>
  <link rel="stylesheet" href= '{% static "bootstrap/css/bootstrap.min.css" %}'>
  <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
  <link rel="stylesheet" href= '{% static "index.css" %}'>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src='{% static "index.js" %}'></script>
  <script src='{% static "cont_manage.js" %}'></script>
</head>
<div class="page-header">
<h1> {% if request.user.is_authenticated%}
{{request.user.username}}
{% endif %}
<small> manage your accounts </small></h1>
</div>
<body>

  <div id="dialog-form" title="Create new user">
  <p class="validateTips">All form fields are required.</p>
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
      <label for="name">Company</label>
      <input type="text" name="company" id="company" value="Google" class="text ui-widget-content ui-corner-all">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="ex@ample.com" class="text ui-widget-content ui-corner-all">
      <label for="password">Phone</label>
      <input type="text" name="phone" id="phone"  class="text ui-widget-content ui-corner-all">
      <label for="name">Interest</label>
      <input type="text" name="interest" id="interest" value="Swimming" class="text ui-widget-content ui-corner-all">

      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

<div id="dialog-form_1" title="Show contact">
<form>
  <fieldset>
    <ul >
    </ul>
  </fieldset>
</form>
</div>

  <div id='btn_1'>
  <button id="create-user" class="btn_color btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Create new
  </button>
  </div>
  <div id="users-contain" class="ui-widget">
  <h1>Existing Users:</h1>
  <table id="users" class="table table-striped">
    <thead>
      <tr class="ui-widget-header ">
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Interest</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
      <script>
        data["{{contact.id}}"] = {
          'id' : "{{contact.id}}",
          'name' : "{{contact.name}}",
          'company' : "{{contact.company}}",
          'email' : "{{contact.email}}",
          'phone' : "{{contact.phone}}",
          'interest' : "{{contact.interest}}"
        };
        last_id = "{{last_id}}";
      </script>
      <tr id="{{contact.id}}_tr">
        <td>{{contact.name}}</td>
        <td>{{contact.company}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.interest}}</td>
        <td><div class=" btn-group" role="group" >
            <button type="button" class="btn_color btn btn-default btn_details" onclick='show_contact("{{contact.id}}")'>Details</button>
            <button type="button" class="btn_color btn btn-default btn_edit" onclick='edit_contact("{{contact.id}}")' >Edit</button>
            <button type="button" class="btn_color btn btn-default btn_del" onclick='delete_contact("{{contact.id}}")'>Delete</button>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="show_details">

</div>
<div id="background"></div>
</body>

</html>
