<!DOCTYPE html>
<html lang="en" >

<head>
  {% load staticfiles %}
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link href='{% static  "loginsys/css/google.css" %}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='{% static  "loginsys/css/ajaxs_style.css" %}'>
      <link rel="stylesheet" href= '{% static  "loginsys/css/style.css" %}'>
</head>

<body>

  <div class="form">

      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup">
          <h1>Sign Up</h1>

          <form action="/auth/registration/" method="post">
            {% csrf_token %}
              <div class="top-row">
                <div class="field-wrap">
                  {{ form.first_name}}
                </div>
                  <div class="field-wrap">
                    {{ form.last_name}}
                  </div>
              </div>

          <div class="top-row">
            <div class="field-wrap">
              {{ form.username}}
            </div>
            <div class="field-wrap">
              {{form.email}}
            </div>
          </div>

          <div class="field-wrap">
            {{ form.password1}}
          </div>

          <button type="submit" class="button button-block" action="/auth/registration/"/>Get Started</button>

          </form>

        </div>

        <div id="login">
          <h1>Welcome Back!</h1>

          <form action="/auth/login/" method="post">
            {% csrf_token %}
            <div class="field-wrap">
            <label>
              Login<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" name='username'/>
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name='password'/>
          </div>

        

          <button  type="submit" class="button button-block" action="/auth/login/"/>Log In</button>

          </form>

        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->
  <script src='{% static  "js/jquery-3.1.0.min.js" %}'></script>
    <script  src= '{% static  "loginsys/js/login.js" %}'></script>
</body>

</html>
