.file_area
{
  width:18%;
  height:200px;
  background:rgba(250, 250, 250, 0.9 );
  float:left;
  margin-left:17px;

  margin-bottom:  17px;
  border: 1px solid rgb(19, 100, 180);
  border-radius: 6px;
  box-shadow: 0 0px 0px 5px rgb(19, 100, 180);
}
.file_area:hover
{
  background:rgb(255, 255, 255);
  border: 1px solid rgb(19, 144, 216);;
  border-radius: 6px;
  box-shadow: 0 0px 0px 10px rgb(19, 144, 216);;
}
.file_field
{
  font-family: 'Titillium Web', sans-serif;
}
h3, h4
{
padding: 3px;
clear: both;
}
.file_path
{

  /* height: 10%; */
  clear: both;
  padding-top: 5px;
  padding-left: 10px;
}
#but
{
  margin-left: 3px;
}
