#background{
  display:none;
  position:fixed;
  _position:absolute; /* hack for internet explorer 6 */
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:#000000;
  border:1px solid #cecece;
  z-index:1;
}
#show_details{
  display:none;
  position:fixed;
  _position:absolute; /* hack for internet explorer 6 */
  height:45%;
  width:70%;
  background:#FFFFFF;
  border:2px solid #cecece;
  z-index:2;
  font-size:13px;
  margin-left: 1%;
