body {
  color: rgb(29, 144, 176);
  background-color: rgba(30, 30, 30, 0.9);
}
.btn_color{
  color: rgb(29, 144, 176);
  background-color: rgba(30, 30, 30, 0.0);

}
.btn_color:hover{
  color: rgb(48, 165, 232);
  background-color: rgba(30, 30, 30, 0.0);
}
#btn_1{
  margin-left: 2%;
}
#create-user{
  color: rgb(29, 144, 176);
  background-color: rgba(30, 30, 30, 0.0);
}
#create-user:hover{
  color: rgb(48, 165, 232);
  background-color: rgba(30, 30, 30, 0.0);
}
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }

div#users-contain { width: 96%; margin-left: 2%; }
div#users-contain table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  color: rgb(29, 144, 176);
}
div#users-contain table td, div#users-contain table th {
  padding: .6em 10px;
  text-align: left;
  color: rgb(29, 144, 176);
  background-color: rgba(0,0,0,1);
  border: 0px;
}
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 0px solid transparent; padding: 0.3em; }
